body {
  font-family: Arial;
  background: #f2f6fc;
  text-align: center;
  margin: 0;
}

header {
  background: #1e3a8a;
  color: white;
  padding: 20px;
}

section {
  background: white;
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

button {
  padding: 10px;
  margin: 5px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
}

input {
  padding: 8px;
}

section {
  transition: transform 0.2s;
}

section:hover {
  transform: scale(1.02);
}

ol {
  text-align: left;
  display: inline-block;
  padding-left: 20px;
}

